.container {
    display: flex;
    width: 1200px;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #DADDFC;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
}


@media screen and (max-width: 768px) {
    .container {
        width: auto;
        height: fit-content;
        margin: 0 10px;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        justify-content: space-around;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        width: auto;
        flex-wrap: wrap;
        width: auto;
        height: fit-content;
        margin: 0 10px;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: auto;
        flex-wrap: wrap;
        width: auto;
        height: fit-content;
        margin: 0 10px;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        justify-content: space-around;
    }
}